<% include partials/header.ejs %>

</head>
<body>
 <main>
    <h1>
        Cool Images
    </h1>
    <form action="/search">
        <input size="15" type="text" placeholder="Type keyword" name="keyword"/> <br><br>
        <button>Search</button>
        <br><br>

    </form>

 </main>   
 <% include partials/footer.ejs %>